<div class="reservationinfo">
<% @reservations.each do |reservation| %> 
 	<div>
		<%= reservation.date %> 
		<%= reservation.time.strftime('%m-%d') %> 
		<%= reservation.notes %> 
	</div>
<% end %> 
</div>
<div class="reservationplace">
<% @reserved_restaurants.each do |restaurant| %>
	<div>
		<%= restaurant.name %> 
		<%= restaurant.address %> 
		<%= restaurant.summary %>
	</div>	
<% end %>
</div>

