<div class="restaurant">
  <h1>
  <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %> </h1>
  <h3>Summary:</h3>
  <h5><%= restaurant.summary %></h5>
  <br>
<% if restaurant.picture %>
    <%= link_to(image_tag(restaurant.picture), restaurant_path(restaurant)) %>

<% end %>

  <p> <strong>Capacity:</strong><%= restaurant.capacity %></p>
  <p> <strong>Cost:</strong><%= restaurant.cost %></p>
  <p> <strong>Menu:</strong><%= restaurant.menu %></p>
  <p> <strong>Opening hour:</strong><%= restaurant.opening_hour %></p>
  <p> <strong>Closing hour:</strong><%= restaurant.closing_hour %></p>

</div>
