

<% @restaurants.each do |restaurant| %>
<h1>Restaurant: <%= restaurant.name %></h1>
<p>Capacity: <%= restaurant.capacity %></p>


    <% if restaurant.reservations.size == 0  %>

      <p>No reservations</p>

    <% else %>
<p>Reserved: <%= restaurant.total %></p>
      <% restaurant.reservations.each do |reservation| %>
        <p>
          When: <%= reservation.date.strftime("%e-%B-%y") %>
        <br>
          At: <%= reservation.time.strftime("%H:%M") %>
        <br>
          For: <%= reservation.number_of_people %> people
        <br>
          Notes: <%= reservation.notes %>
        <br>
          Name: <%= reservation.user.first_name %> <%=  reservation.user.last_name %>
        <br>
          Email: <%= reservation.user.email %>
        </p>
    <% end %>
  <% end %>
<% end %>
