<!DOCTYPE html>
<html>
  <head>
    <title>JackTheBooker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <header class="header">
      <nav class="navbar navbar-light bg-light">
        <% if current_user %>
            Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), :method => :delete, class: "navbar-brand" %>
        <% else %>
            <%= link_to "Log in", new_session_path %> <%= link_to "Sign up", new_user_path %>
        <% end %>
      </nav>
      <h1 class="logo">  <a href="<%= root_path %>">Jack The Booker</a></h1>
      <nav class="navbar">
        <a><%= link_to 'Home', root_path %></a>
        <a><%= link_to 'Restaurants', restaurants_path %></a>
        <a><%= link_to 'Add your restaurant', new_restaurant_path %></a>
        <a><%= link_to 'your reservations', your_reservations_path %></a>
        <a><%= link_to 'your restaurants dashboard', my_restaurants_path %></a>
      </nav>

    </header>

  <section class="wrapper">
    <%= yield %>
  </section>

  </body>
    <footer>
      <div class="footer-copyright text-center py-3">
        <h5>Gordon | Gustavo | Shashike  </h5>
      </div>
    </footer>
</html>
